
				<div data-role="navbar" >
					<ul>
						<li><a id="a_player" href="./index.cgi" <!--$class_player-->>Player</a></li>
						<li><a id="a_lms2udp" href="./lms2udp.cgi" <!--$class_lms2udp-->>LMS Gateway</a></li>
						<!--$lmslinks-->
						<!--$logfileslink-->
 										</ul>
				</div>
				<!-- Process states -->
				<div style="display:flex;align-items:center;justify-content:center;font-size:11px;">
					<span id="squeezelitestate"><!--$T::RUNNINGINSTANCES_COLLECTING--></span>&nbsp;| &nbsp;<span id="lms2udpstate"><!--$T::RUNNINGINSTANCES_COLLECTING--></span>
				</div>
				
<script>		

$(function() {
		
		setInterval(function(){ running_states(); }, 5000);
		running_states();
});

function running_states() 
	{

		$.post( 'ajax.cgi', {
			ajax: 'getstates' })
		.done(function(resp) {
			// console.log( "ajax_post", "success", resp );
			if(resp.instancecount != null) {
				if (resp.instancecount == resp.instanceenabled && resp.instancecount == 0)
					$("#squeezelitestate").attr("style", "color:black").html('<!--$T::RUNNINGINSTANCES_SQU_NO_ZONE-->');
				else if (resp.instancecount == resp.instanceenabled)
					$("#squeezelitestate").attr("style", "color:green").html(resp.instancecount + ' <!--$T::RUNNINGINSTANCES_SQU_OF--> ' + resp.instanceenabled + ' <!--$T::RUNNINGINSTANCES_SQU_NO_OF_RUNNING-->');
				else
					$("#squeezelitestate").attr("style", "color:red").html(resp.instancecount + ' <!--$T::RUNNINGINSTANCES_SQU_OF--> ' + resp.instanceenabled + ' <!--$T::RUNNINGINSTANCES_SQU_NO_OF_RUNNING-->');
			} else {
				$("#squeezelitestate").attr("style", "color:red").html('<!--$T::RUNNINGINSTANCES_ERROR_FETCHING-->');
			}
			
			if(resp.lms2udpcount != null) {
				if(resp.lms2udpcount == -1)
					$("#lms2udpstate").attr("style", "color:black").html('<!--$T::RUNNINGINSTANCES_LMSGW_DISABLED-->');
				else if (resp.lms2udpcount == 0)
					$("#lms2udpstate").attr("style", "color:red").html('<!--$T::RUNNINGINSTANCES_LMSGW_NOT_RUNNING-->');
				else
					$("#lms2udpstate").attr("style", "color:green").html('<!--$T::RUNNINGINSTANCES_LMSGW_RUNNING-->');;
			} else {
				$("#lms2udpstate").attr("style", "color:red").html('<!--$T::RUNNINGINSTANCES_ERROR_FETCHING-->');
			}
			
			if(resp.versonline != null) {
				$("#versonline").html(resp.versonline);
			} else {
				$("#versonline").html('--');
			}
			
			if(resp.versinstalled != null) {
				$("#versinstalled").html(resp.versinstalled);
			} else {
				$("#versinstalled").html('--');
			}
	  })
	  .fail(function(resp) {
			$("#squeezelitestate").attr("style", "color:red").html('<!--$T::RUNNINGINSTANCES_ERROR_FETCHING-->');
			$("#lms2udpstate").attr("style", "color:red").html('<!--$T::RUNNINGINSTANCES_ERROR_FETCHING-->');
			
	  })
	  .always(function(resp) {
			// console.log( "ajax_post", "finished", resp );

		});
	}
	
	
</script>
