<h3 class="western">General</h3>
<p>To use this plug-in, Logitech Media Server (henceforth abbreviated
as LMS) is required.</p>
<h3 class="western">Basic Settings</h3>
<p><b>LMS </b><b>address</b><b>: </b>Leaving this field empty will
force Squeezelite to search for LMS in your network automatically. If
you provide a hostname or IP address, below you will get two links to
your LMS web interface and LMS configuration. Port is not that from
web interface (9000), but LMS stream communication. Usually you don't
need to enter a port.</p>
<h3 class="western">Zones</h3>
<p><b>Active:</b> Every zone can be activated or
disabled.<br/>
<b>Zone Name:</b> This name is used in LMS and
LMS apps.<br/>
<b>MAC address:</b> You
<i>must</i> provide different MAC addresses for multiple zones. The
MAC is the unique identifier in your LMS network.<br/>
<b>Roll a MAC address:</b> Generates a random MAC.<br/>
<b>Output:</b>
Displays all outputs of your LoxBerry.<br/>
<b>Additional parameters:</b>
Use this field for additional parameters starting Squeezelite. 
</p>
<h3 class="western">Add and delete zones</h3>
<p>You can add any number of zones by the Add button. You only can
delete the last entry a time. The full configuration is saved with
adding and deleting.</p>
<h3 class="western">Save, Save and apply</h3>
<p>Save will save your configuration.<br/>
Save and apply saves your configuration and
restarts all zones with the new configuration. </font>
</p>
