<font size="-1">
	<h3>Allgemein</h3>
F&uuml;r die Verwendung ist ein Logitech Media Server erforderlich.
Im folgenden wird<span style="font-style: italic;">&nbsp;Logitech
Media Server</span> mit <span style="font-style: italic;">LMS</span>
abgek&uuml;rzt.<br>
<h3>Grundeinstellungen</h3>
<span style="font-weight: bold;">LMS Adresse:</span>
Ohne Angabe suchen die Player den Server automatisch. Wird jedoch der
Hostname oder die IP-Adresse eingetragen, erscheinen nach dem Speichern
zwei Links f&uuml;r den Direktaufruf des LMS Webinterfaces und der
Einstellungen.<br>
<br>
<h3>Instanzen</h3>
<span style="font-weight: bold;">Aktiv:</span> Jede
Instanz kann aktiviert und deaktiviert werden.<br>
<span style="font-weight: bold;">Name der Zone:</span>
Mit diesem Namen wird der Player im LMS angezeigt.<br>
<span style="font-weight: bold;">MAC-Adresse</span>:
Es <span style="font-style: italic;">m&uuml;ssen</span>
unterschiedliche MAC-Adressen verwendet werden, da diese als eindeutige
ID f&uuml;r den LMS gilt.<br>
<span style="font-weight: bold;">MAC-Adresse
w&uuml;rfeln:</span> Generiert eine zuf&auml;llige
MAC-Adresse.<br>
<span style="font-weight: bold;">Ausgang:</span>
Hier werden alle Audio-Ausg&auml;nge des LoxBerry angezeigt.<br>
<span style="font-weight: bold;">Zus&auml;tzliche
Parameter: </span>Hier k&ouml;nnen weitere Startparameter
f&uuml;r Squeezelite mitgegeben werden. <br>
<br>
<h3>Hinzuf&uuml;gen und L&ouml;schen von Instanzen</h3>
Es k&ouml;nnen beliebig viele Instanzen mit dem <span
 style="font-style: italic;">Hinzuf&uuml;gen</span>-Knopf
erstellt werden. Es kann immer nur <span style="font-style: italic;">die
letzte Instanz</span> gel&ouml;scht werden. Ein Umsortieren
ist nicht m&ouml;glich. Die <span style="font-style: italic;">Hinzuf&uuml;gen</span>-
und&nbsp;<span style="font-style: italic;">L&ouml;schen</span>-Kn&ouml;pfe
speichern die aktuelle Konfiguration!<br>
<br>
<h3>Speichern, Speichern und ausf&uuml;hren</h3>
<span style="font-style: italic;">Speichern</span>
&uuml;bernimmt die Einstellungen in die Konfiguration.<br>
<span style="font-style: italic;">Speichern und
ausf&uuml;hren</span> &uuml;bernimmt die Konfiguration
und startet alle Instanzen mit der neuen Konfiguration.
</font>
